@font-face {
  font-family: "iconfont"; /* Project id 2424425 */
  src: url('iconfont.woff2?t=1620633026872') format('woff2'),
       url('iconfont.woff?t=1620633026872') format('woff'),
       url('iconfont.ttf?t=1620633026872') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixuanzhong:before {
  content: "\e6cf";
}

.icon-xuanzhong:before {
  content: "\e65c";
}

.icon-yinhanglogo-:before {
  content: "\e97f";
}

.icon-yinhanglogo-1:before {
  content: "\e983";
}

.icon-jiansheyinhang:before {
  content: "\e613";
}

.icon-tubiao_zhifu-yinhangkazhifu-95:before {
  content: "\e690";
}

.icon-zhifubao:before {
  content: "\e629";
}

.icon-balance:before {
  content: "\e618";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-cong:before {
  content: "\e7ee";
}

.icon-remen:before {
  content: "\e648";
}

.icon-shanchu:before {
  content: "\e6d0";
}

.icon-sousuo:before {
  content: "\e647";
}

.icon-liebiao1:before {
  content: "\e659";
}

.icon-liebiao:before {
  content: "\e604";
}

.icon-dingwei:before {
  content: "\e64a";
}

.icon-dingwei1:before {
  content: "\ec32";
}

.icon-dingwei2:before {
  content: "\e632";
}

.icon-jiantou-shang:before {
  content: "\e7c7";
}

.icon-jiantou:before {
  content: "\e612";
}

.icon-x:before {
  content: "\e62f";
}

.icon-loading1:before {
  content: "\e676";
}

.icon-loading:before {
  content: "\e65b";
}

.icon-91jiazai:before {
  content: "\e6a0";
}

.icon-denglu:before {
  content: "\e602";
}

